:root {
  /* Browns */
  --toasty: #d8a882;
  --foam: #a47d60;
  --mocha: #946440;
  --coldbrew: #693f31;
  --espresso: #333230;
  /* Pinks */
  --oyster: #eac3bf;
  --pinkvelvet: #e77d77;
  --rusticpink: #9f5448;
  --truffle: #5a3735;
  /* Golds */
  --golden: #99783f;
  --goldenrod: #bd7e0f;
  --sandygold: #c59458;
  --lightgold: #dcbaba;
  --background: #f3ede0;
}

body {
  box-sizing: border-box;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: dotted green;
  background-color: var(--background);
  
}

.logo-container {
  border-color: yellowgreen solid;
}
.search {
text-align: center;
  /* border: yellow solid; */
  width: 100%;
}

.search input{
  text-align: center;
}

img {
  width: 150px;
  border: dotted black;
}

nav {
  width: 100%;
  border: yellow solid 5px;


}
ul{
  display: flex;
  justify-content: space-between;
  flex-basis: content;
  

}


nav a:link {
  list-style: none;
  text-decoration: none;
  
 
}
